---
import Layout from "../../layouts/Layout.astro";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import { allPlaylists, songs } from "@/lib/data";

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId,
);
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="text-white p-6 relative transition-all duration 1000 bg-[#2c4b53] overflow-x-hidden"
  >
    <header
      class="flex gap-8 py-8 relative z-10 items-end"
      transition:name=`playlist ${id} box`
    >
      <picture class="w-60 h-60">
        <img
          src={playlist?.cover}
          alt={`cover of ${playlist?.title}`}
          class="rounded-md shadow-2xl"
          transition:name=`playlist ${playlist?.id} image`
        />
      </picture>
      <div>
        <span>Playlist</span>
        <h1 class="text-8xl font-black mb-3">
          {playlist?.title}
          <span></span>
        </h1>
        <span transition:name=`playlist ${playlist?.id} title`
          >{playlist?.artists.join(", ")}</span
        >
      </div>
    </header>

    <div
      class="absolute inset-0 bg-gradient-to-b from-transparent to-[#00000080]"
    >
    </div>
  </div>
</Layout>
