---
import Layout from "@/layouts/Layout.astro";
import { allPlaylists, playlists, songs } from "@/lib/data";
import { CardPlayButton } from "@/components/CardPlayButton";
import { MusicsTable } from "@/components/MusicsTable";
import NextPlaylist from "@/components/NextPlaylist.astro";

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId,
);

const color = playlist?.color.accent;
const getNextID = (a: any, b: number) => {
  const nextID = parseInt(a) + b;
  const validateID = nextID < 1 || nextID > playlists.length;
  const clases = validateID
    ? "opacity-70 cursor-not-allowed pointer-events-none"
    : "";
  return [nextID, clases];
};
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="text-white relative transition-all duration 1000 overflow-x-hidden"
  >
    <header style={`background-color: ${color}`} class=`relative`>
      <div class="relative z-20 flex py-4 px-6 gap-2 select-none">
        <NextPlaylist rotate={true} data={getNextID(id, -1)} />
        <NextPlaylist data={getNextID(id, 1)} />
      </div>
      <div
        class="relative z-20 flex items-end gap-4 xl:gap-8 py-6 px-2 md:px-6"
        transition:name=`playlist ${id} box`
      >
        <picture class="w-56 h-56 flex items-center">
          <img
            src={playlist?.cover}
            alt={`cover of ${playlist?.title}`}
            class="rounded-md shadow-2xl"
            transition:name=`playlist ${playlist?.id} image`
          />
        </picture>
        <div>
          <span>Playlist</span>
          <h1 class="text-4xl lg:text-5xl 2xl:text-8xl font-black mb-3">
            {playlist?.title}
          </h1>
          <span transition:name=`playlist ${playlist?.id} title`>
            {playlist?.artists.join(", ")}
          </span>
          <span class="block"
            >• {playlistSongs.length} Canciones, 3 horas aproximadamente</span
          >
        </div>
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-b from-transparent to-[#00000080] z-10"
      >
      </div>
    </header>
    <section>
      <div class="relative py-6 px-2 md:px-6">
        <div
          style={`background-color: ${color}`}
          class="h-[232px] absolute inset-0 bg-gradient-to-b from-[#000000a6] to-[#121212]"
        >
        </div>
        <div class="relative">
          <CardPlayButton id={id} size="large" client:load />
        </div>
      </div>
      <div class="relative px-2 md:px-6">
        <MusicsTable songs={playlistSongs} playlist={playlist} client:load />
      </div>
    </section>
  </div>
</Layout>
