---
import MusicsTable from "@/components/MusicsTable.astro";
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "@/lib/data";
import { CardPlayButton } from "@/components/CardPlayButton";

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId,
);
const color = playlist?.color.accent;
console.log(playlist);
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="text-white relative transition-all duration 1000 overflow-x-hidden"
  >
    <header style={`background-color: ${color}`} class=`relative`>
      <div
        class="relative z-20 flex items-end gap-8 pt-20 pb-6 px-6"
        transition:name=`playlist ${id} box`
      >
        <picture class="w-56 h-56">
          <img
            src={playlist?.cover}
            alt={`cover of ${playlist?.title}`}
            class="rounded-md shadow-2xl"
            transition:name=`playlist ${playlist?.id} image`
          />
        </picture>
        <div>
          <span>Playlist</span>
          <h1 class="text-8xl font-black mb-3">
            {playlist?.title}
          </h1>
          <span transition:name=`playlist ${playlist?.id} title`>
            {playlist?.artists.join(", ")}
          </span>
          <span class="block"
            >• {playlistSongs.length} Canciones, 3 horas aproximadamente</span
          >
        </div>
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-b from-transparent to-[#00000080] z-10"
      >
      </div>
    </header>
    <section>
      <div class="relative p-6">
        <div
          style={`background-color: ${color}`}
          class="h-[232px] absolute inset-0 bg-gradient-to-b from-[#000000a6] to-[#121212]"
        >
        </div>
        <div class="relative">
          <CardPlayButton id={id} client:load size="large" />
        </div>
      </div>
      <div class="px-6 relative">
        <MusicsTable songs={playlistSongs} />
      </div>
    </section>
  </div>
</Layout>
