---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "@/components/CardPlayButton";
interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
const artistString = artists.join(", ");
---

<article
  class="w-full relative group lg:w-[calc(50%-8px)] xl:w-[calc(33%-8px)] bg-zinc-500/30 hover:bg-white/20 shadow-lg hover:shadow-xl transition-all duration-1000 rounded-md"
>
  <div
    class="absolute right-4 bottom-0 opacity-0 transition duration-300 group-hover:-translate-y-4 group-hover:opacity-100 z-10"
  >
    <CardPlayButton id={id} client:visible />
  </div>
  <a
    href={`/playlist/${id}`}
    class="w-full playlist-item flex relative overflow-hidden item-center gap-4"
    transition:name=`playlist ${id} box`
  >
    <picture class="h-full w-20 flex-none">
      <img
        src={cover}
        alt={`cover of ${title}`}
        class="object-cover w-full h-full"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="p-1 flex justify-center items-center truncate text-white">
      <h4 class="font-bold text-lg" transition:name=`playlist ${id} title`>
        {title}
      </h4>
    </div>
  </a>
</article>
